{% extends 'daily/credentials/layout.html' %}

{% block title %} Daily {% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'daily/cardsCredential.css' %}">
{% endblock %}


{% block content %} 
    <img src="https://img.icons8.com/color/452/twitter--v1.png" alt="" style="display: block; margin: auto; width: 200px;">
    <div class="cardContainer">
        <div class="cardContent">
            <i class="fas fa-sign-in-alt"></i>
            <a class="btn btn-lg btn-primary mt-3" href="{% url 'login' %}">Log In</a>
       </div>
       <div class="cardContent">
            <i class="fas fa-user-plus ms-4"></i>
            <a class="btn btn-lg btn-primary mt-3" href="{% url 'register' %}">Sign In</a>
        </div>
    </div>

{% endblock %}

