{% extends 'daily/layout.html' %}

{% block title %} New Entry {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container w-50 shadow-sm p-3 mb-5 mt-3 bg-light  rounded">
        <h1 class="text-center">Create New Entry</h1>
        <hr>	
        <form method="POST">
            {% csrf_token %}
            {{form | crispy}}
            <input class="btn btn-primary" type="submit" value="Send">
        </form>
    </div>

    <!-- change styles of forms with css -->



    <script>
        $(function () {
            $("#id_date").datepicker();  
        });
    </script>

{% endblock %}
