
.cardContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.cardContent{
    margin: 0px 60px 0px 60px;
    background-color: #262c31;
    height: 300px;
    width: 250px;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 2px 15px rgba(20, 26, 29, 0.9);

}

.cardContent i {
    font-size: 100px;
    color: white;
    margin-bottom: 10px;
}